git+https://github.com/botswana-harvard/django-crypto-fields@develop#egg=django_crypto_fields
git+https://github.com/botswana-harvard/django-revision@develop#egg=django_revision
git+https://github.com/botswana-harvard/edc-appointment@develop#egg=edc-appointment
git+https://github.com/botswana-harvard/edc-consent@develop#egg=edc-consent
git+https://github.com/botswana-harvard/edc-constants@develop#egg=edc_constants
git+https://github.com/botswana-harvard/edc-device@develop#egg=edc-device
git+https://github.com/botswana-harvard/edc-identifier@develop#egg=edc-identifier
git+https://github.com/botswana-harvard/edc-lab@develop#egg=edc-lab
git+https://github.com/botswana-harvard/edc-metadata@develop#egg=edc-metadata
git+https://github.com/botswana-harvard/edc-protocol@develop#egg=edc_protocol
git+https://github.com/botswana-harvard/edc-registration@develop#egg=edc-registration
git+https://github.com/botswana-harvard/edc-metadata-rules@develop#egg=edc-metadata-rules
git+https://github.com/botswana-harvard/edc-timepoint@develop#egg=edc-timepoint
git+https://github.com/botswana-harvard/edc-visit-schedule@develop#egg=edc-visit-schedule
git+https://github.com/botswana-harvard/edc-visit-tracking@develop#egg=edc-visit-tracking
git+https://github.com/botswana-harvard/edc-offstudy@develop#egg=edc-offstudy
git+https://github.com/botswana-harvard/edc-navbar@develop#egg=edc-navbar
git+https://github.com/botswana-harvard/edc-form-validators@develop#egg=edc-form-validators
git+https://github.com/botswana-harvard/edc-model-admin@develop#egg=edc-model-admin
