
{% extends "edc_base/base.html" %}

{% block topbar %}{% endblock topbar %}

{% block main %}

<div class="container">
    <div class="col-md-3"></div>

    <div class="col-md-6">
      <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="text-muted text-center">Status</h4>
          </div>
            <div class="panel-body text-center">
    		{% if form.errors %}
    		    {% for error in form.errors.values %}
    		      <div class="alert alert-danger text-center">
    		    	{{ error|striptags }}
    		      </div>
    		    {% endfor %}
    		{% endif %}

               <p>Password changed successfully</p>
                <div>
                    <a href="/">Click here to login</a>
                </div>
            </div>
          </div>
      </div>

    <div class="col-md-3"></div>
</div>
{% endblock main %}